Checks: 
  'modernize-*
  -modernize-use-trailing-return-type
  -clang-diagnostic-unused-variable,
  -clang-analyzer-deadcode.DeadStores'

WarningsAsErrors: ''
HeaderFilterRegex: '.*catch.*'
ExtraArgs:
  - '-std=c++23'  # 指定 C++ 标准

